.moveHistory {
    padding: 0 10px 0px 10px;
    border-radius: 4px;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  
  .moveList {
    list-style-type: none;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 8px;
  }
  
  .moveItem {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 2px;
  }
  
  .moveNumber {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .playerSymbol {
    margin-right: 5px;
  }
  
  .movePosition {
    color: #666;
  }
  
  
  .moveHistoryTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
  }